xarray>=2024.6.0
zarr
numcodecs
pandas
numpy
scipy
joblib
pyyaml
requests
wetterdienst==0.111.0
wradlib>=1.19
h5py
netCDF4
s3fs
fsspec
scikit-learn
lightgbm
xgboost
pysteps
rasterio
pyproj
streamlit>=1.33
plotly>=5.20
